main {
  display: grid;
  grid-template-rows: 50px 3fr 1fr 3fr;
  grid-template-columns: 400px 1fr 1fr 1fr;
}

#aside {
  grid-row: 1 / 5;
  grid-column: 1 / 2;
}

#instructions {
  grid-row: 1 / 2;
  grid-column: 2 / 5;
}

#chartDiv {
  grid-row: 2 / 3;
  grid-column: 2 / 5;
}

#firstSection {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

#secondSection {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

#thirdSection {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}

#pSection {
  grid-row: 3 / 4;
  grid-column: 2 / 5;
}