body * {
  margin: 5px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: left;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: left;
}

#removeImages {
  display: flex;
}

main img {
  width: 300px;
}

.hidden {
  display: none;
}
