body * {
  margin: 5px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: left;
}

main img {
  width: 300px;
}

#allImages {
  display: contents;
}

#firstSection {
  text-align: center;
  width: fit-content;
}

#secondSection {
  text-align: center;
  width: fit-content;
}

#thirdSection {
  text-align: center;
  width: fit-content;
}

.hidden {
  display: none;
}

#chartDiv {
  width: 80%;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: left;
}