body {
  background-color: lightgray;
}

header img {
  border: solid black 1px;
}

header {
  border-bottom: solid black 1px;
}

#aside {
  border: solid black 1px;
}

#firstSection {
  border: solid black 1px;
  text-align: center;
}

#secondSection {
  border: solid black 1px;
  text-align: center;
}

#thirdSection {
  border: solid black 1px;
  text-align: center;
}